.profile-card {
  width: 100%;
  .profile-card-header {
    position: relative;
    border-radius: 4px 4px 0 0;
    background-color: var(--greenLighter);
    padding: 20px;
    display: flex;
    width: 100%;
    .header-left {
      font-size: 13px;
      width: 60%;
      color: var(--primaryColor);
      .welcome-title {
        font-size: 18px;
        font-weight: 500;
      }
    }
    .header-right {
      width: 40%;
    }
    .avatar {
      position: absolute;
      width: 73px;
      height: 73px;
      padding: 1px;
      border: 1px solid var(--greyDarker);
      border-radius: 100%;
      top: calc(100% - 36px);
    }
  }

  .profile-card-content {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .user-store {
      padding: 50px 0 50px 0;
      width: 30%;
      height: 100%;
      font-size: 13px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .user-name {
        font-size: 18px;
        font-weight: 500;
      }
    }
    .button-profile {
      padding: 50px 0 50px 0;
      width: 70%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        font-size: 13px;
        padding: 7.5px 12px;
        color: var(--whiteColor);
        border-radius: 4px;
        width: fit-content;
        background-color: var(--primaryColor);
      }
    }
  }
}

.mini-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  width: 100%;
  padding: 30px 20px;
  .info-card {
    .name-card {
      font-size: 13px;
      text-transform: uppercase;
      color: var(--greyDarker);
      margin-bottom: 10px;
    }
    .value-card {
      color: var(--darkColor);
      font-size: 18px;
      font-weight: 500;
    }
  }
  .icon-card {
    padding: 10px 15px;
    border-radius: 100%;
    color: var(--whiteColor);
    background-color: var(--primaryColor);
  }
}

.chart-dashboard {
  padding: 20px;
  margin-bottom: 20px;
}

.table-dashboard {
  font-size: 13px;
  padding: 20px;
  table {
    color: var(--darkColor);
    width: 100%;
    .header-table {
      th {
        padding: 10px 0;
      }
      background-color: var(--greyColor);
    }
    .content-table {
      tr {
        .order-id {
          font-weight: 600;
          text-transform: uppercase;
        }
        .payment-method {
          span {
            padding-right: 5px;
          }
        }
        .paid {
          color: green;
          font-weight: 700;
        }
        .button-detail {
          padding: 7px 12px;
          color: var(--whiteColor);
          background-color: var(--primaryColor);
          border-radius: 50px;
          display: flex;
          align-items: center;
        }
        border-bottom: 1px solid var(--greyColor);
        td {
          padding: 10px 0;
        }
      }
    }
  }
}
